.navbar {
  background-color: #DD7EE6;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #FFF;
  --bs-btn-border-color: #FFF;
  --bs-btn-border-radius: .3rem;
  --bs-btn-hover-color: #F2798C;
  --bs-btn-hover-bg: #FFF;
  --bs-btn-hover-border-color: #FFF;
}

.login-status {
  color: #FFF;
  font-size: 0.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0.25rem 0;
}